body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
h1{
    font-size: 30px;
}
.dev-color{
    color: #43B379;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height:500px;
    padding-bottom: 150px;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #80c4a1, #0cd3a5);
    padding: 10px 20px;
    border-radius: 10px;
    color:white;
    margin-top: 10px;
    outline: none;
    border:none;
    
    
}
.dream-area{
    color: #18D7D4;
}
.bottom-banner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

